
                 <div class="col-md-12" style="box-sizing: border-box;display: block;
                 color: #26282a;box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
                 border-top: 1px solid #f1f1f5;width: 360px;right: 10px;
                 min-height: 20px;z-index: 1;font-size: 14px;direction: ltr;
                 -webkit-font-smoothing: antialiased;padding: 0 5px;margin-right: 1px;
                 margin-left: 50px; position: absolute;-webkit-tap-highlight-color: transparent;
                 font-family: 'Helvetica Neue',Helvetica,Arial;font-weight: 100;line-height: 1.6
                 ;text-transform: uppercase;
                 min-height: 500px;width: 20vw;height: 85vh;background: #fff">
                <div class="sidebar-header;font-weight: 500" style="color: black;border-bottom: solid 1px gray;font-size: 17px" >Admin</div>
         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         <a class="nav-link" style="border-bottom: solid 1px gray;padding-right: 20px"  routerLink='/home' aria-selected="true"><span><i class="fa fa-home" aria-hidden="true" style="padding-right: 5px"></i></span>Home</a>
         <a class="nav-link " style="border-bottom: solid 1px gray"  routerLink='/admin' aria-selected="true"><i class="fa fa-plus" aria-hidden="true" style="padding-right: 5px"></i>Add Product</a>
         <a class="nav-link" style="border-bottom: solid 1px gray" routerLink='/update'  aria-selected="true"><i class="fa fa-search-minus" aria-hidden="true" style="padding-right: 5px"></i>View Products</a>
         
       </div>
     </div>


               