
<app-userheader></app-userheader>
<form class="form-inline my-0 my-lg-0" style="padding-left: 30px;padding-bottom: 10px;">
    <!--<a class="navbar-brand" routerLink='/productdisplay'>
      <img src="./assets/images/Pnplogo.png"></a>-->
     
</form>

<div class="row">
    <div class="col-2">
        <div class="col-md-12" style="border: 1px solid white;
        color: white;padding: 10px;text-transform: uppercase;
        min-height: 500px;width: 100vw;height: 100vh;background: black">
       <div class="sidebar-header" >User Profile</div>
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<a class="nav-link " style="border-bottom: solid 1px gray"  routerLink='/profile' aria-selected="true">View Profile</a>

</div>
</div>

    </div>
    <div class="col-8" style="background-color: lightgray">
       
           
    </div>
              
   </div>

             