/* You can add global styles to this file, and also import other style files */


@import "../node_modules/bootstrap-scss/bootstrap";

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.tes {
    position: relative;
    width: 100%;
}

